
* {
    box-sizing: border-box;
    color: rgb(22, 22, 22);
    outline: 0 none;
}

.cenXY {
	display: flex;
	align-items: center;
	justify-content: center;
}
.cenX {
	display: flex;
	justify-content: center;
}
.cenY {
	display: flex;
	align-items: center;
}

body {
    margin: 0;
    padding: 0;
    font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    background: rgb(242,242,242);
    color: #333;
}






/* **************** MAIN **************** */

.main {
    margin-left: 128px;
    margin-right: 128px;
    background: white;
    height: 90vh;
}

/* ZONA DROP */
.zonaDrop {
    display: flex;
    width: 100%;
    height: 166px;
    
    background: rgb(255, 64, 1);
    background: linear-gradient(0deg, rgba(255, 64, 1, 1) 0%, rgba(255, 115, 0, 1) 100%);
    
    justify-content: center;
    align-content: center;
    
    border-width: 3px;
    border-style:dashed;
    border-color: rgb(53, 53, 53);
}

.zd_texto {
    height: 100%;
    font-size: 30px;
    color: rgb(43, 43, 43);
    
	display: flex;
	align-items: center;
	justify-content: center;
    
}



/* **************** HEADER **************** */

.cajaHeader {
    margin-top: 0;
    background: rgb(51,51,51);
    /* height: 48px; */
    height: 6vh;
    width: 100%;
    font: 100 14px/1.5 Interstate,Lucida Grande,Arial,sans-serif;
}

.interiorHeader {
    display: flex;
    margin-left: 64px;
    margin-right: 64px;
}

.h_logo {
    /* height: 48px; */
    height: 6vh;
}



/* BUSQUEDA */
.cajaBusqueda {
    display: flex;
    align-items: center;
    margin-left: 12px;
    width: 35%;
}

.h_inputBusqueda {
    height: 50%;
    width: 70%;
}

.h_iconoLupa {
    position: relative;
    width: 20px;
    right: 24px;
}

.h_iconos {
    width: 22px;
    margin-right: 10px;
}

.h_selected {
    background: chocolate;
    border-radius: 30%;
}



/* ICONOS */
.cajaIconos {
    display: flex;
    align-items: center;
    margin-left: 0;
    width: 100%;   
}

.h_bindings {
    position: relative;
    width: 30px;
    height: 30px;
    
    margin-left: 20px;
}




/* **************** RESULTADOS **************** */

.cajaResultados {
    padding-top: 64px;
}

.cajaResultadosParcial {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}



/* USERS */

.tarjetaUser {
    width: 20%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    
    margin-left: 5px;
}

.tu_img {
    width: 100px;
    align-self: center;
    border-radius: 50%;
}

.tu_name {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 20px;
    font-weight: bold;
}

.tu_online {
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
}

.tu_cajaSeguidores {
    display: flex;
    justify-content: center;
    align-content: center;
}



/* TRACKS */

.tarjetaTrack {
    width: 20%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.tr_img {
    width: 100px;
    align-self: center;
    border-radius: 10%;
    z-index: 2;
}

.tr_artista {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 10px;
    color: rgb(99, 99, 99);
}

.tr_titulo {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 15px;
    text-align: center;
}


/* TOOLTIP */
.tooltip {
    background: none;
    border: none;
}



/* **************** FOOTER **************** */

footer {
    display: flex;
    justify-content: center;
}

.cajaFooter {
    margin-left: 128px;
    margin-right: 128px;
    position: relative;
    /* background: #333; */
    background: rgb(255, 255, 255);
    height: 4vh;
    bottom: 0;
    width: 100%;
    font: 100 14px/1.5 Interstate,Lucida Grande,Arial,sans-serif;
}

.textoFooter {
    color: rgb(116, 116, 116);
}