
* {
    box-sizing: border-box;
    color: rgb(22, 22, 22);
}


body {
    margin: 0;
    padding: 0;
    font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    background: rgb(242,242,242);
    color: #333;
}

.main {
    margin-left: 64px;
    margin-right: 64px;
    background: white;
    height: 100vh;
}




/* **************** HEADER **************** */

.cajaHeader {
    margin-top: 0;
    background: rgb(51,51,51);
    height: 48px;
    width: 100%;
    font: 100 14px/1.5 Interstate,Lucida Grande,Arial,sans-serif;
}

.interiorHeader {
    display: flex;
    margin-left: 64px;
    margin-right: 64px;
}

.h_logo {
    height: 48px;
}


/* BUSQUEDA */
.cajaBusqueda {
    display: flex;
    align-items: center;
    margin-left: 12px;
    width: 18%;
}

.h_inputBusqueda {
    height: 50%;
    width: 90%;
}

.h_iconoLupa {
    position: relative;
    width: 20px;
    right: 24px;
}



/* **************** RESULTADOS **************** */

.cajaResultados {
    padding-top: 64px;
}

.cajaResultadosParcial {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}


/* USERS */

.tarjetaUsuario {
    display: flex;
    width: 100%;
};

.tu_colIzq {
    width: 30%;
}
.tu_colDer {
   width: 100%;
}

.img100 {
    width: 100px;
}

.tu_name {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 20px;
    font-weight: bold;
}

.tu_online {
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
}

.tu_cajaSeguidores {
    display: flex;
    justify-content: center;
    align-content: center;
}


/* TRACKS */

.tarjetaTrack {
    width: 20%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tr_img {
    width: 100px;
    align-self: center;
    border-radius: 10%;
}

.tr_artista {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 10px;
    color: rgb(99, 99, 99);
}

.tr_titulo {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 15px;
    text-align: center;
}




